In [1]:
import pandas

def add_full_name(path_to_csv, path_to_new_csv):
    #Assume you will be reading in a csv file with the same columns that the
    #Lahman baseball data set has -- most importantly, there are columns
    #called 'nameFirst' and 'nameLast'.
    #1) Write a function that reads a csv
    #located at "path_to_csv" into a pandas dataframe and adds a new column
    #called 'nameFull' with a player's full name.
    #
    #For example:
    #   for Hank Aaron, nameFull would be 'Hank Aaron', 
	#
	#2) Write the data in the pandas dataFrame to a new csv file located at
	#path_to_new_csv

    #WRITE YOUR CODE HERE



if __name__ == "__main__":
    # For local use only
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # The dataset can be downloaded from this website: http://www.seanlahman.com/baseball-archive/statistics
    # We are using the file Master.csv
    path_to_csv = ""
    path_to_new_csv = ""
    add_full_name(path_to_csv, path_to_new_csv)

IndentationError: expected an indented block (<ipython-input-1-0907a34ed3cb>, line 21)

In [2]:
import pandas as pd

def add_full_name(path_to_csv, path_to_new_csv):
    dataframe = pd.read_csv(path_to_csv) #Lê o arquivo csv
    dataframe['nameLast'] = dataframe['nameFirst'] + ' ' + dataframe['nameLast'] #cria uma nova coluna chamada nameLast
    dataframe.to_csv(path_to_new_csv) #cria um novo arquivo csv

if __name__ == '__main__':
    path_to_csv = './data/Master.csv'
    path_to_new_csv = './data/Master_new.csv'
    add_full_name(path_to_csv, path_to_new_csv)

In [3]:
new_master = pd.read_csv('./data/Master_new.csv')

In [4]:
new_master.head()

,Unnamed: 0,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,...,David Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,...,Hank Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,...,Tommie Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,...,Don Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,...,Andy Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [5]:
master = pd.read_csv('./data/Master.csv')

In [6]:
master.columns

Index([u'playerID', u'birthYear', u'birthMonth', u'birthDay', u'birthCountry',
       u'birthState', u'birthCity', u'deathYear', u'deathMonth', u'deathDay',
       u'deathCountry', u'deathState', u'deathCity', u'nameFirst', u'nameLast',
       u'nameGiven', u'weight', u'height', u'bats', u'throws', u'debut',
       u'finalGame', u'retroID', u'bbrefID'],
      dtype='object')

## Banco de dados relacionais

In [7]:
import pandas
import pandasql

def select_first_50(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)
    

    # Select out the first 50 values for "registrar" and "enrolment_agency"
    # in the aadhaar_data table using SQL syntax. 
    #
    # Note that "enrolment_agency" is spelled with one l. Also, the order
    # of the select does matter. Make sure you select registrar then enrolment agency
    # in your query.
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv
    q = """select registrar, enrolment_agency from aadhaar_data LIMIT 50;"""
    g = """select * from aadhaar_data WHERE state='Gujarat';"""
    a = """SELECT district, sum(aadhaar_generated) FROM aadhaar_data GROUP BY district"""
    b = """SELECT district, sub_district, sum(aadhaar_generated) FROM aadhaar_data WHERE age >60 GROUP BY district, sub_district"""
    c = """SELECT gender, district, sum(aadhaar_generated) FROM aadhaar_data WHERE age > 50 GROUP BY gender, district"""

    #Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(c.lower(), locals())
    return aadhaar_solution

ImportError: No module named pandasql

In [8]:
select_first_50('./data/aadhaar_data.csv')

NameError: name 'select_first_50' is not defined

## Lendo a API da Last.fm

In [9]:
import json
import requests

def api_get_request(url):
    # In this exercise, you want to call the last.fm API to get a list of the
    # top artists in Spain. The grader will supply the URL as an argument to
    # the function; you do not need to construct the address or call this
    # function in your grader submission.
    # 
    # Once you've done this, return the name of the number 1 top artist in
    # Spain. 
       
    data = requests.get(url).text
    data = json.loads(data)
        
    return data['topartists']['artist'][0]['name'] # return the top artist in Spain

In [11]:
url = "http://ws.audioscrobbler.com/2.0/?method=geo.gettopartists&country=brazil&api_key=f7538d3615c40e870a7f4fcc00b80785&format=json"
api_get_request(url)

u'Rihanna'