In [1]:
import pandas as pd

In [2]:
baseball = pd.read_csv('./data/Master.csv')

In [3]:
baseball.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [4]:
baseball.describe

<bound method DataFrame.describe of         playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aaronha01     1934.0         2.0       5.0          USA         AL
2      aaronto01     1939.0         8.0       5.0          USA         AL
3       aasedo01     1954.0         9.0       8.0          USA         CA
4       abadan01     1972.0         8.0      25.0          USA         FL
5       abadfe01     1985.0        12.0      17.0         D.R.  La Romana
6      abadijo01     1850.0        11.0       4.0          USA         PA
7      abbated01     1877.0         4.0      15.0          USA         PA
8      abbeybe01     1869.0        11.0      11.0          USA         VT
9      abbeych01     1866.0        10.0      14.0          USA         NE
10     abbotda01     1862.0         3.0      16.0          USA         OH
11     abbotfr01     1874.0        10.0      22.0          USA         OH
12     abbotgl01     1951.0         2.0      16.0          USA         AR
13     abbotje01     1972.0         8.0      17.0          USA         GA
14     abbotji01     1967.0         9.0      19.0          USA         MI
15     abbotku01     1969.0         6.0       2.0          USA         OH
16     abbotky01     1968.0         2.0      18.0          USA         MA
17     abbotod01     1888.0         9.0       5.0          USA         PA
18     abbotpa01     1967.0         9.0      15.0          USA         CA
19      aberal01     1927.0         7.0      31.0          USA         OH
20     abercda01     1850.0         1.0       2.0          USA         OK
21     abercre01     1980.0         7.0      15.0          USA         GA
22     abernbi01     1929.0         1.0      30.0          USA         CA
23     abernbr01     1977.0         9.0      23.0          USA         GA
24     abernte01     1921.0        10.0      30.0          USA         NC
25     abernte02     1933.0         3.0       6.0          USA         NC
26     abernwo01     1915.0         2.0       1.0          USA         NC
27     aberscl01     1921.0         8.0      28.0          USA         IL
28     ablesha01     1883.0        10.0       4.0          USA         TX
29     abnersh01     1966.0         6.0      17.0          USA         OH
...          ...        ...         ...       ...          ...        ...
19075  zimmejo02     1986.0         5.0      23.0          USA         WI
19076  zimmero01     1913.0         9.0      13.0          USA         PA
19077  zimmery01     1984.0         9.0      28.0          USA         NC
19078   zinkch01     1979.0         8.0      26.0          USA         CA
19079   zinkwa01     1898.0        11.0      21.0          USA         MA
19080   zinnfr01     1865.0        12.0      21.0          USA         PA
19081   zinngu01     1887.0         2.0      13.0          USA         WV
19082   zinnji01     1895.0         1.0      21.0          USA         AR
19083  zinsebi01     1918.0         1.0       6.0          USA         NY
19084  zinteal01     1968.0         5.0      19.0          USA         TX
19085  zipfebu01     1938.0        11.0      18.0          USA         IL
19086   ziskri01     1949.0         2.0       6.0          USA         NY
19087   zitoba01     1978.0         5.0      13.0          USA         NV
19088  zitzmbi01     1895.0        11.0      19.0          USA         NY
19089  zmiched01     1884.0        10.0       1.0          USA         OH
19090  zobribe01     1981.0         5.0      26.0          USA         IL
19091  zoccope01     1977.0         2.0       6.0          USA         NY
19092  zoldasa01     1918.0        12.0       8.0          USA         NY
19093  zoskyed01     1968.0         2.0      10.0          USA         CA
19094  zuberbi01     1913.0         3.0      26.0          USA         IA
19095  zuberjo01     1969.0        12.0      10.0          USA         CA
19096  zuletju01     1975.0         3.0      28.0       Panama     Panama
19097  zumayjo01     1984.0        11.0       9.0          USA         CA
19098  zuninmi01     1991.0         3.0      25.0          USA         FL
19099  zupcibo01     1966.0         8.0      18.0          USA         PA
19100   zupofr01     1939.0         8.0      29.0          USA         CA
19101  zuvelpa01     1958.0        10.0      31.0          USA         CA
19102  zuverge01     1924.0         8.0      20.0          USA         MI
19103  zwilldu01     1888.0        11.0       2.0          USA         MO
19104   zychto01     1990.0         8.0       7.0          USA         IL

              birthCity  deathYear  deathMonth  deathDay    ...      \
0                Denver        NaN         NaN       NaN    ...
1                Mobile        NaN         NaN       NaN    ...
2                Mobile     1984.0         8.0      16.0    ...
3                Orange        NaN         NaN       NaN    ...
4            Palm Beach        NaN         NaN       NaN    ...
5             La Romana        NaN         NaN       NaN    ...
6          Philadelphia     1905.0         5.0      17.0    ...
7               Latrobe     1957.0         1.0       6.0    ...
8                 Essex     1962.0         6.0      11.0    ...
9            Falls City     1926.0         4.0      27.0    ...
10              Portage     1930.0         2.0      13.0    ...
11           Versailles     1935.0         6.0      11.0    ...
12          Little Rock        NaN         NaN       NaN    ...
13              Atlanta        NaN         NaN       NaN    ...
14                Flint        NaN         NaN       NaN    ...
15           Zanesville        NaN         NaN       NaN    ...
16          Newburyport        NaN         NaN       NaN    ...
17            New Eagle     1933.0         4.0      13.0    ...
18             Van Nuys        NaN         NaN       NaN    ...
19            Cleveland     1993.0         5.0      20.0    ...
20          Fort Towson     1939.0        11.0      11.0    ...
21             Columbus        NaN         NaN       NaN    ...
22             Torrance     2006.0         2.0      19.0    ...
23              Atlanta        NaN         NaN       NaN    ...
24                Bynum     2001.0        11.0      16.0    ...
25              Stanley     2004.0        12.0      16.0    ...
26          Forest City     1994.0        12.0       5.0    ...
27              Chicago     1973.0         6.0      23.0    ...
28              Terrell     1951.0         2.0       8.0    ...
29             Hamilton        NaN         NaN       NaN    ...
...                 ...        ...         ...       ...    ...
19075        Auburndale        NaN         NaN       NaN    ...
19076        Pine Grove     1991.0        11.0      22.0    ...
19077        Washington        NaN         NaN       NaN    ...
19078        Carmichael        NaN         NaN       NaN    ...
19079        Pittsfield     1964.0         6.0      12.0    ...
19080      Phoenixville     1936.0         5.0      12.0    ...
19081          Holbrook     1949.0        10.0       6.0    ...
19082            Benton     1991.0         2.0      26.0    ...
19083           Astoria     1993.0         2.0      16.0    ...
19084           El Paso        NaN         NaN       NaN    ...
19085        Belleville        NaN         NaN       NaN    ...
19086          Brooklyn        NaN         NaN       NaN    ...
19087         Las Vegas        NaN         NaN       NaN    ...
19088  Long Island City     1985.0         5.0      29.0    ...
19089         Cleveland     1950.0         8.0      20.0    ...
19090            Eureka        NaN         NaN       NaN    ...
19091             Bronx        NaN         NaN       NaN    ...
19092          Brooklyn     1966.0         8.0      25.0    ...
19093          Whittier        NaN         NaN       NaN    ...
19094      Middle Amana     1982.0        11.0       2.0    ...
19095            Encino        NaN         NaN       NaN    ...
19096            Panama        NaN         NaN       NaN    ...
19097       Chula Vista        NaN         NaN       NaN    ...
19098        Cape Coral        NaN         NaN       NaN    ...
19099        Pittsburgh        NaN         NaN       NaN    ...
19100     San Francisco     2005.0         3.0      25.0    ...
19101         San Mateo        NaN         NaN       NaN    ...
19102           Holland     2014.0         9.0       8.0    ...
19103         St. Louis     1978.0         3.0      27.0    ...
19104             Monee        NaN         NaN       NaN    ...

          nameLast           nameGiven weight height bats throws       debut  \
0          Aardsma         David Allan  215.0   75.0    R      R  2004-04-06
1            Aaron         Henry Louis  180.0   72.0    R      R  1954-04-13
2            Aaron          Tommie Lee  190.0   75.0    R      R  1962-04-10
3             Aase      Donald William  190.0   75.0    R      R  1977-07-26
4             Abad       Fausto Andres  184.0   73.0    L      L  2001-09-10
5             Abad    Fernando Antonio  220.0   73.0    L      L  2010-07-28
6           Abadie             John W.  192.0   72.0    R      R  1875-04-26
7      Abbaticchio        Edward James  170.0   71.0    R      R  1897-09-04
8            Abbey           Bert Wood  175.0   71.0    R      R  1892-06-14
9            Abbey          Charles S.  169.0   68.0    L      L  1893-08-16
10          Abbott    Leander Franklin  190.0   71.0    R      R  1890-04-19
11          Abbott     Harry Frederick  180.0   70.0    R      R  1903-04-25
12          Abbott       William Glenn  200.0   78.0    R      R  1973-07-29
13          Abbott     Jeffrey William  190.0   74.0    R      L  1997-06-10
14          Abbott       James Anthony  200.0   75.0    L      L  1989-04-08
15          Abbott         Kurt Thomas  180.0   71.0    R      R  1993-09-07
16          Abbott       Lawrence Kyle  200.0   76.0    L      L  1991-09-10
17          Abbott           Ody Cleon  180.0   74.0    R      R  1910-09-10
18          Abbott          Paul David  185.0   75.0    R      R  1990-08-21
19            Aber       Albert Julius  195.0   74.0    L      L  1950-09-15
20     Abercrombie   Francis Patterson    NaN    NaN  NaN    NaN  1871-10-21
21     Abercrombie   Reginald Damascus  215.0   75.0    R      R  2006-04-04
22      Abernathie      William Edward  190.0   70.0    R      R  1952-09-27
23       Abernathy       Michael Brent  185.0   73.0    R      R  2001-06-25
24       Abernathy  Talmadge Lafayette  210.0   74.0    R      L  1942-09-19
25       Abernathy       Theodore Wade  215.0   76.0    R      R  1955-04-13
26       Abernathy      Virgil Woodrow  170.0   72.0    L      L  1946-07-28
27         Aberson  Clifford Alexander  200.0   72.0    R      R  1947-07-18
28           Ables       Harry Terrell  200.0   74.0    R      L  1905-09-04
29           Abner        Shawn Wesley  190.0   73.0    R      R  1987-09-08
...            ...                 ...    ...    ...  ...    ...         ...
19075   Zimmermann           Jordan M.  225.0   74.0    R      R  2009-04-20
19076    Zimmerman        Roy Franklin  187.0   74.0    L      L  1945-08-27
19077    Zimmerman        Ryan Wallace  225.0   75.0    R      R  2005-09-01
19078         Zink       Charles Tadao  190.0   73.0    R      R  2008-08-12
19079         Zink        Walter Noble  165.0   72.0    R      R  1921-07-06
19080         Zinn       Frank Patrick  150.0   68.0  NaN    NaN  1888-04-18
19081         Zinn                 Guy  170.0   70.0    L      R  1911-09-11
19082         Zinn        James Edward  195.0   72.0    L      R  1919-09-04
19083       Zinser     William Francis  185.0   73.0    R      R  1944-08-19
19084       Zinter        Alan Michael  200.0   74.0    B      R  2002-06-18
19085       Zipfel    Marion Sylvester  200.0   75.0    L      R  1961-07-26
19086         Zisk      Richard Walter  200.0   73.0    R      R  1971-09-08
19087         Zito       Barry William  205.0   74.0    L      L  2000-07-22
19088     Zitzmann      William Arthur  175.0   70.0    R      R  1919-04-27
19089        Zmich       Edward Albert  180.0   72.0    L      L  1910-07-23
19090      Zobrist     Benjamin Thomas  210.0   75.0    B      R  2006-08-01
19091   Zoccolillo          Peter Jude  200.0   74.0    L      R  2003-09-05
19092       Zoldak       Samuel Walter  185.0   71.0    L      L  1944-05-13
19093        Zosky        Edward James  175.0   72.0    R      R  1991-09-02
19094        Zuber       William Henry  195.0   74.0    R      R  1936-09-16
19095        Zuber          Jon Edward  190.0   73.0    L      L  1996-04-19
19096       Zuleta       Julio Ernesto  230.0   78.0    R      R  2000-04-06
19097       Zumaya         Joel Martin  215.0   75.0    R      R  2006-04-03
19098       Zunino     Michael Accorsi  220.0   74.0    R      R  2013-06-12
19099       Zupcic              Robert  220.0   76.0    R      R  1991-09-07
19100         Zupo        Frank Joseph  182.0   71.0    L      R  1957-07-01
19101      Zuvella                Paul  173.0   72.0    R      R  1982-09-04
19102     Zuverink              George  195.0   76.0    R      R  1951-04-21
19103     Zwilling     Edward Harrison  160.0   66.0    L      L  1910-08-14
19104         Zych       Anthony Aaron  190.0   75.0    R      R  2015-09-04

        finalGame   retroID    bbrefID
0      2015-08-23  aardd001  aardsda01
1      1976-10-03  aaroh101  aaronha01
2      1971-09-26  aarot101  aaronto01
3      1990-10-03  aased001   aasedo01
4      2006-04-13  abada001   abadan01
5      2016-09-25  abadf001   abadfe01
6      1875-06-10  abadj101  abadijo01
7      1910-09-15  abbae101  abbated01
8      1896-09-23  abbeb101  abbeybe01
9      1897-08-19  abbec101  abbeych01
10     1890-05-23  abbod101  abbotda01
11     1905-09-20  abbof101  abbotfr01
12     1984-08-08  abbog001  abbotgl01
13     2001-09-29  abboj002  abbotje01
14     1999-07-21  abboj001  abbotji01
15     2001-04-13  abbok002  abbotku01
16     1996-08-24  abbok001  abbotky01
17     1910-10-15  abboo101  abbotod01
18     2004-08-07  abbop001  abbotpa01
19     1957-09-11  abera101   aberal01
20     1871-10-21  aberd101  abercda01
21     2008-09-28  aberr001  abercre01
22     1952-09-27  aberb101  abernbi01
23     2005-09-29  aberb001  abernbr01
24     1944-04-29  abert102  abernte01
25     1972-09-30  abert101  abernte02
26     1947-04-17  aberw101  abernwo01
27     1949-05-09  aberc101  aberscl01
28     1911-05-05  ableh101  ablesha01
29     1992-10-03  abnes001  abnersh01
...           ...       ...        ...
19075  2016-10-01  zimmj003  zimmejo02
19076  1945-09-30  zimmr101  zimmero01
19077  2016-10-02  zimmr001  zimmery01
19078  2008-08-12  zinkc001   zinkch01
19079  1921-07-19  zinkw101   zinkwa01
19080  1888-05-03  zinnf101   zinnfr01
19081  1915-09-16  zinng101   zinngu01
19082  1929-08-25  zinnj101   zinnji01
19083  1944-08-26  zinsb101  zinsebi01
19084  2004-10-03  zinta001  zinteal01
19085  1962-09-30  zipfb101  zipfebu01
19086  1983-09-21  ziskr101   ziskri01
19087  2015-09-30  zitob001   zitoba01
19088  1929-09-25  zitzb101  zitzmbi01
19089  1911-06-01  zmice101  zmiched01
19090  2016-10-02  zobrb001  zobribe01
19091  2003-09-28  zoccp001  zoccope01
19092  1952-08-26  zolds101  zoldasa01
19093  2000-10-01  zoske001  zoskyed01
19094  1947-09-23  zubeb101  zuberbi01
19095  1998-09-27  zubej001  zuberjo01
19096  2001-06-25  zulej001  zuletju01
19097  2010-06-28  zumaj001  zumayjo01
19098  2016-10-02  zunim001  zuninmi01
19099  1994-08-04  zupcb001  zupcibo01
19100  1961-05-09  zupof101   zupofr01
19101  1991-05-02  zuvep001  zuvelpa01
19102  1959-06-15  zuveg101  zuverge01
19103  1916-07-12  zwild101  zwilldu01
19104  2016-08-24  zycht001   zychto01

[19105 rows x 24 columns]>

In [35]:
import pandas
import numpy

def imputation(filename):
    # Pandas dataframes have a method called 'fillna(value)', such that you can
    # pass in a single value to replace any NAs in a dataframe or series. You
    # can call it like this: 
    #     dataframe['column'] = dataframe['column'].fillna(value)
    #
    # Using the numpy.mean function, which calculates the mean of a numpy
    # array, impute any missing values in our Lahman baseball
    # data sets 'weight' column by setting them equal to the average weight.
    # 
    # You can access the 'weight' colum in the baseball data frame by
    # calling baseball['weight']

    baseball = pandas.read_csv(filename)
    baseball['weight'] = baseball['weight'].fillna(numpy.mean(baseball['weight']))
    
    #YOUR CODE GOES HERE

    return baseball

In [36]:
imputation('./data/Master.csv')

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.000000,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.000000,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.000000,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.000000,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.000000,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
5,abadfe01,1985.0,12.0,17.0,D.R.,La Romana,La Romana,NaN,NaN,NaN,...,Abad,Fernando Antonio,220.000000,73.0,L,L,2010-07-28,2016-09-25,abadf001,abadfe01
6,abadijo01,1850.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,...,Abadie,John W.,192.000000,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,...,Abbaticchio,Edward James,170.000000,71.0,R,R,1897-09-04,1910-09-15,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,...,Abbey,Bert Wood,175.000000,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866.0,10.0,14.0,USA,NE,Falls City,1926.0,4.0,27.0,...,Abbey,Charles S.,169.000000,68.0,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
10,abbotda01,1862.0,3.0,16.0,USA,OH,Portage,1930.0,2.0,13.0,...,Abbott,Leander Franklin,190.000000,71.0,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
11,abbotfr01,1874.0,10.0,22.0,USA,OH,Versailles,1935.0,6.0,11.0,...,Abbott,Harry Frederick,180.000000,70.0,R,R,1903-04-25,1905-09-20,abbof101,abbotfr01
12,abbotgl01,1951.0,2.0,16.0,USA,AR,Little Rock,NaN,NaN,NaN,...,Abbott,William Glenn,200.000000,78.0,R,R,1973-07-29,1984-08-08,abbog001,abbotgl01
13,abbotje01,1972.0,8.0,17.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abbott,Jeffrey William,190.000000,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01
14,abbotji01,1967.0,9.0,19.0,USA,MI,Flint,NaN,NaN,NaN,...,Abbott,James Anthony,200.000000,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01
15,abbotku01,1969.0,6.0,2.0,USA,OH,Zanesville,NaN,NaN,NaN,...,Abbott,Kurt Thomas,180.000000,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01
16,abbotky01,1968.0,2.0,18.0,USA,MA,Newburyport,NaN,NaN,NaN,...,Abbott,Lawrence Kyle,200.000000,76.0,L,L,1991-09-10,1996-08-24,abbok001,abbotky01
17,abbotod01,1888.0,9.0,5.0,USA,PA,New Eagle,1933.0,4.0,13.0,...,Abbott,Ody Cleon,180.000000,74.0,R,R,1910-09-10,1910-10-15,abboo101,abbotod01
18,abbotpa01,1967.0,9.0,15.0,USA,CA,Van Nuys,NaN,NaN,NaN,...,Abbott,Paul David,185.000000,75.0,R,R,1990-08-21,2004-08-07,abbop001,abbotpa01
19,aberal01,1927.0,7.0,31.0,USA,OH,Cleveland,1993.0,5.0,20.0,...,Aber,Albert Julius,195.000000,74.0,L,L,1950-09-15,1957-09-11,abera101,aberal01
20,abercda01,1850.0,1.0,2.0,USA,OK,Fort Towson,1939.0,11.0,11.0,...,Abercrombie,Francis Patterson,186.375596,NaN,NaN,NaN,1871-10-21,1871-10-21,aberd101,abercda01
21,abercre01,1980.0,7.0,15.0,USA,GA,Columbus,NaN,NaN,NaN,...,Abercrombie,Reginald Damascus,215.000000,75.0,R,R,2006-04-04,2008-09-28,aberr001,abercre01
22,abernbi01,1929.0,1.0,30.0,USA,CA,Torrance,2006.0,2.0,19.0,...,Abernathie,William Edward,190.000000,70.0,R,R,1952-09-27,1952-09-27,aberb101,abernbi01
23,abernbr01,1977.0,9.0,23.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abernathy,Michael Brent,185.000000,73.0,R,R,2001-06-25,2005-09-29,aberb001,abernbr01
24,abernte01,1921.0,10.0,30.0,USA,NC,Bynum,2001.0,11.0,16.0,...,Abernathy,Talmadge Lafayette,210.000000,74.0,R,L,1942-09-19,1944-04-29,abert102,abernte01
25,abernte02,1933.0,3.0,6.0,USA,NC,Stanley,2004.0,12.0,16.0,...,Abernathy,Theodore Wade,215.000000,76.0,R,R,1955-04-13,1972-09-30,abert101,abernte02
26,abernwo01,1915.0,2.0,1.0,USA,NC,Forest City,1994.0,12.0,5.0,...,Abernathy,Virgil Woodrow,170.000000,72.0,L,L,1946-07-28,1947-04-17,aberw101,abernwo01
27,aberscl01,1921.0,8.0,28.0,USA,IL,Chicago,1973.0,6.0,23.0,...,Aberson,Clifford Alexander,200.000000,72.0,R,R,1947-07-18,1949-05-09,aberc101,aberscl01
28,ablesha01,1883.0,10.0,4.0,USA,TX,Terrell,1951.0,2.0,8.0,...,Ables,Harry Terrell,200.000000,74.0,R,L,1905-09-04,1911-05-05,ableh101,ablesha01
29,abnersh01,1966.0,6.0,17.0,USA,OH,Hamilton,NaN,NaN,NaN,...,Abner,Shawn Wesley,190.000000,73.0,R,R,1987-09-08,1992-10-03,abnes001,abnersh01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19075,zimmejo02,1986.0,5.0,23.0,USA,WI,Auburndale,NaN,NaN,NaN,...,Zimmermann,Jordan M.,225.000000,74.0,R,R,2009-04-20,2016-10-01,zimmj003,zimmejo02
19076,zimmero01,1913.0,9.0,13.0,USA,PA,Pine Grove,1991.0,11.0,22.0,...,Zimmerman,Roy Franklin,187.000000,74.0,L,L,1945-08-27,1945-09-30,zimmr101,zimmero01
19077,zimmery01,1984.0,9.0,28.0,USA,NC,Washington,NaN,NaN,NaN,...,Zimmerman,Ryan Wallace,225.000000,75.0,R,R,2005-09-01,2016-10-02,zimmr001,zimmery01
19078,zinkch01,1979.0,8.0,26.0,USA,CA,Carmichael,NaN,NaN,NaN,...,Zink,Charles Tadao,190.000000,73.0,R,R,2008-08-12,2008-08-12,zinkc001,zinkch01
19079,zinkwa01,1898.0,11.0,21.0,USA,MA,Pittsfield,1964.0,6.0,12.0,...,Zink,Walter Noble,165.000000,72.0,R,R,1921-07-06,1921-07-19,zinkw101,zinkwa01
19080,zinnfr01,1865.0,12.0,21.0,USA,PA,Phoenixville,1936.0,5.0,12.0,...,Zinn,Frank Patrick,150.000000,68.0,NaN,NaN,1888-04-18,1888-05-03,zinnf101,zinnfr01
19081,zinngu01,1887.0,2.0,13.0,USA,WV,Holbrook,1949.0,10.0,6.0,...,Zinn,Guy,170.000000,70.0,L,R,1911-09-11,1915-09-16,zinng101,zinngu01
19082,zinnji01,1895.0,1.0,21.0,USA,AR,Benton,1991.0,2.0,26.0,...,Zinn,James Edward,195.000000,72.0,L,R,1919-09-04,1929-08-25,zinnj101,zinnji01
19083,zinsebi01,1918.0,1.0,6.0,USA,NY,Astoria,1993.0,2.0,16.0,...,Zinser,William Francis,185.000000,73.0,R,R,1944-08-19,1944-08-26,zinsb101,zinsebi01
19084,zinteal01,1968.0,5.0,19.0,USA,TX,El Paso,NaN,NaN,NaN,...,Zinter,Alan Michael,200.000000,74.0,B,R,2002-06-18,2004-10-03,zinta001,zinteal01
19085,zipfebu01,1938.0,11.0,18.0,USA,IL,Belleville,NaN,NaN,NaN,...,Zipfel,Marion Sylvester,200.000000,75.0,L,R,1961-07-26,1962-09-30,zipfb101,zipfebu01
19086,ziskri01,1949.0,2.0,6.0,USA,NY,Brooklyn,NaN,NaN,NaN,...,Zisk,Richard Walter,200.000000,73.0,R,R,1971-09-08,1983-09-21,ziskr101,ziskri01
19087,zitoba01,1978.0,5.0,13.0,USA,NV,Las Vegas,NaN,NaN,NaN,...,Zito,Barry William,205.000000,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01
19088,zitzmbi01,1895.0,11.0,19.0,USA,NY,Long Island City,1985.0,5.0,29.0,...,Zitzmann,William Arthur,175.000000,70.0,R,R,1919-04-27,1929-09-25,zitzb101,zitzmbi01
19089,zmiched01,1884.0,10.0,1.0,USA,OH,Cleveland,1950.0,8.0,20.0,...,Zmich,Edward Albert,180.000000,72.0,L,L,1910-07-23,1911-06-01,zmice101,zmiched01
19090,zobribe01,1981.0,5.0,26.0,USA,IL,Eureka,NaN,NaN,NaN,...,Zobrist,Benjamin Thomas,210.000000,75.0,B,R,2006-08-01,2016-10-02,zobrb001,zobribe01
19091,zoccope01,1977.0,2.0,6.0,USA,NY,Bronx,NaN,NaN,NaN,...,Zoccolillo,Peter Jude,200.000000,74.0,L,R,2003-09-05,2003-09-28,zoccp001,zoccope01
19092,zoldasa01,1918.0,12.0,8.0,USA,NY,Brooklyn,1966.0,8.0,25.0,...,Zoldak,Samuel Walter,185.000000,71.0,L,L,1944-05-13,1952-08-26,zolds101,zoldasa01
19093,zoskyed01,1968.0,2.0,10.0,USA,CA,Whittier,NaN,NaN,NaN,...,Zosky,Edward James,175.000000,72.0,R,R,1991-09-02,2000-10-01,zoske001,zoskyed01
19094,zuberbi01,1913.0,3.0,26.0,USA,IA,Middle Amana,1982.0,11.0,2.0,...,Zuber,William Henry,195.000000,74.0,R,R,1936-09-16,1947-09-23,zubeb101,zuberbi01
19095,zuberjo01,1969.0,12.0,10.0,USA,CA,Encino,NaN,NaN,NaN,...,Zuber,Jon Edward,190.000000,73.0,L,L,1996-04-19,1998-09-27,zubej001,zuberjo01
19096,zuletju01,1975.0,3.0,28.0,Panama,Panama,Panama,NaN,NaN,NaN,...,Zuleta,Julio Ernesto,230.000000,78.0,R,R,2000-04-06,2001-06-25,zulej001,zuletju01
19097,zumayjo01,1984.0,11.0,9.0,USA,CA,Chula Vista,NaN,NaN,NaN,...,Zumaya,Joel Martin,215.000000,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01
19098,zuninmi01,1991.0,3.0,25.0,USA,FL,Cape Coral,NaN,NaN,NaN,...,Zunino,Michael Accorsi,220.000000,74.0,R,R,2013-06-12,2016-10-02,zunim001,zuninmi01
19099,zupcibo01,1966.0,8.0,18.0,USA,PA,Pittsburgh,NaN,NaN,NaN,...,Zupcic,Robert,220.000000,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01
19100,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.000000,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
19101,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.000000,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
19102,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.000000,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
19103,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.000000,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
19104,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.000000,75.0,R,R,2015-09-04,2016-08-24,zycht001,zychto01